<mat-card>
    <mat-card-content>
      <form [formGroup]="login" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="login.invalid">Login</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <mat-error *ngIf="errorMsg">Invalid Credentials</mat-error>
    </mat-card-actions>
  </mat-card>



<!--
<mat-toolbar color="primary">Login</mat-toolbar>
<form [formGroup]="login" (ngSubmit)="submit()" autocomplete="off">    
    
    <mat-form-field>
        <mat-label> Username: </mat-label>
        <input matInput type="text" formControlName = "username">
        <mat-error *ngIf="login.get('username').errors && login.get('username').errors.email"> Invalid E-Mail Pattern</mat-error>
    </mat-form-field>
    
    <mat-form-field>
    <mat-label> Password: </mat-label>
    <input matInput type="password" formControlName = "password">
    <mat-error *ngIf="login.get('password').errors"> Min length should  be 6. 
    </mat-error>
    </mat-form-field>
    
    <button mat-raised-button type="submit" [disabled]="!login.valid">Login!</button> 
</form> -->