<!--
<div class="profile-info">
    <div>
        <span>Name : </span>
        <span>{{customer.name}}</span>
    </div>
    <div>
        <span>Address : </span>
        <span>{{customer.address}}</span>
    </div>
    <div>
        <span>Mobile No : </span>
        <span>{{customer.mobNo}}</span>
    </div>
    <button mat-raised-button color="primary">Edit</button>
</div> 
-->

<table >
    <tbody>
        <tr>
            <td> Name </td>
            <td *ngIf="!edit"> {{customer.name}} </td>
            <td *ngIf="edit"> <input type="text" [(ngModel)]="customer['name']"> </td>
        </tr>
        <tr>
            <td> Address </td>
            <td *ngIf="!edit">{{customer.address}}</td>
            <td *ngIf="edit"> <input type="text" [(ngModel)]="customer['address']"> </td>
        </tr>
        <tr>
            <td> Mobile No </td>
            <td *ngIf="!edit">{{customer.mobNo}}</td>
            <td *ngIf="edit"> <input type="text" [(ngModel)]="customer['mobNo']"> </td>
        </tr>
    </tbody>
    <tfoot>
        <button *ngIf="!edit"mat-raised-button color="primary" (click)="onEdit()">Edit</button>
        <button *ngIf="edit"mat-raised-button color="primary" (click)="onUpdate()">Update</button>
    </tfoot>
    
</table>
