table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 2%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button{
      margin-top: 10px;
  }