<div class="products-table">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Electronics" #input>
  </mat-form-field>
  <button id="add-product" mat-button color="primary" routerLink="/admin/add-product">Add Product</button>
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="name" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Discout Price Column -->
        <ng-container matColumnDef="discprice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Discounted Price </th>
          <td mat-cell *matCellDef="let element"> {{ element.price * (100 - this.productService.discount) / 100}} </td>
        </ng-container>
    
        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="Action" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element" (click)="onUpdate(element)"><button mat-raised-button color="primary">Update</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <mat-form-field class="example-form-field">
    <mat-label>Enter Discount</mat-label>
    <input matInput type="number" [formControl]="discountFormControl">
    <mat-error>
      Please enter a valid value
    </mat-error>
  </mat-form-field>
  <button [disabled]="discountFormControl.invalid" id="apply-discount" mat-raised-button color="primary" (click)="applyDiscount()">Apply Discount</button>
</div>