table {
    width: 100%;
}

.products-table{
  margin: 20px;
  position: relative;
}

button#add-product{
  border: 1px solid;
  position: absolute;
  left: 70%;
}

.example-form-field {
  width: 200px;
  margin-top: 30px;
}
button#apply-discount{
  margin-left: 10px;
}