<div *ngIf="cart.length" class="products-table">
  <h2>Your Cart</h2>
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>    
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>
    
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price * (100 - discount) / 100}} * {{element.quantity}} = {{(element.price * (100 - discount) / 100)*(element.quantity)}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element" ><button (click)="onRemove(element)" mat-raised-button color="warn">Remove</button> </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
  </div>
</div> 

<div *ngIf="!cart.length" id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h1>Cart Is Empty</h1>
  </div>
</div>