<mat-card>
    <mat-card-content >
      <form class="flex-container" [formGroup]="product" (ngSubmit)="onSubmit()">
        <h2 *ngIf="!productId">Add Product</h2>
        <h2 *ngIf="productId">Update Product</h2>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Product Name" formControlName="name" required>
          <mat-error>
            Please provide a valid product name
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
            <mat-label>Select Category</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let cat of categoryList" value="{{cat}}">{{cat}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width-input">
            <input matInput type="number" placeholder="Price" formControlName="price" required>
            <mat-error>
              Please provide a valid price
            </mat-error>
        </mat-form-field>

        
        <button *ngIf="!productId" mat-raised-button color="primary" [disabled]="product.invalid">Add</button>
        <button *ngIf="productId" mat-raised-button color="primary" [disabled]="product.invalid">Update</button>
      </form>
    </mat-card-content>
</mat-card>