<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="view-product">View Products</a>
        <a mat-list-item routerLink="cart">
          <span matBadge="{{cartItems}}" matBadgeOverlap="false">Cart</span>
        </a>
        <a mat-list-item routerLink="profile">Profile</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
        </button>
        <span>Online Store</span>
        <button id="logout-btn" mat-raised-button color="warn" (click)="onLogout()">Logout</button>
      </mat-toolbar>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

<!-- <app-viewproduct (nameEvent)="nameEventHander($event)"></app-viewproduct> -->
  